.body{
    background-color: violet;
}
.box{
    width: 400px;
    height: 400px;
    border: 2px solid white;
    border-radius: 3px;
    background-color: white;
    -moz-box-align: center;
    margin: 120px 200px 110px 500px;
}

.Login{
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
